<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" th:href="@{/css/blackjack.css}"  href="../resources/css/blackjack.css" />
		<title> Blackjack </title>
	</head>
	
	<body>
		<div id="maPage">
			<div class="cac">
				<div id="table">
					<div id="ZoneCartesCroupier"> </div>

					<div id="ZoneCartesJoueur"></div>

					<div id="zoneJeton"></div>
				</div>
				
				<div id="bouttons">
					<input id="Bet" type="button" value="miser" name="miser"/>
					<input id="Double" type="button" value="doubler" name="doubler"/>
					<input id="Card" type="button" value="carte" name="carte"/>
					<input id="Split" type="button" value="split" name="split"/>
					<input id="Stop" type="button" value="rester" name="rester"/>
					<input type="button" value="acheter" name="acheter"/>
				</div>
			</div>

			<div class="cac">
				<div id="zoneAutresJoueur"> autres joueurs </div>
			</div>
		</div>
		
		<script th:src="@{/js/jquery.js}" src="../resources/js/jquery.js"></script>
		<script th:src="@{/js/blackjack.js}" src="../resources/js/blackjack.js"></script>
	</body>
</html>